<header>
    <nav class="navbar">
        <div class="nav-brand">
            <a href="/">🚀 ShapeX</a>
        </div>
        <ul class="nav-menu">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/ideas">All Ideas</a></li>
            <li><a href="/trends">Trends</a></li>
            <li><a href="/scan">Scans</a></li>
        </ul>
    </nav>
</header>
